#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.app-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.student-card {
  border: 1px solid #ddd;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
}

input, select, button {
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .student-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
